<div class="card">
    <div class="card-header pt-4">
        <h3 class="col-9">All Owners</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-md-2"> Name Filter:</div>
                    <div class="col-md-4">
                        <input type="text" />
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6">
                        <h6>Filtered by :</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex align-items-center flex-column">
                <button class="btn btn-primary" routerLink="/owner/create">New Owner</button>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table" *ngIf="owners.length">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let owner of owners">
                        <th>{{owner.first_name}}</th>
                        <th>{{owner.last_name}}</th>
                        <th>{{owner.email}}</th>
                        <th>{{owner.phone}}</th>
                        <th class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-sm col-4" [routerLink] = "['../owner/update', owner.id]">Edit</a>
                            <button class="btn btn-danger btn-sm col-4" (click)="onDelete(owner.id)">Delete</button>
                        </th>
                    </tr>
                </tbody>
            
            </table>
        </div>
    </div>
</div>